  
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
    body {

    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    font-family: 'Roboto',sans-serif;
    /*font:normal 16 px'Roboto,sans-serif;*/
    }
.avatar {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.45);
}
h1{
    background-color: aquamarine;
    font-size: 32px;
    color:rgb(245, 138, 76) 
}
.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
/* box model */
.like {
    background-color: crimson;
}

