  
     @import url('https://fonts.googleapis.com/css2?family=Roboto:@1&display=swap'); 
    body {
        

    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    font-family: 'Roboto',sans-serif;
    /*font:normal 16 px'Roboto,sans-serif;*/
    }

    a {
        color: black ;
        text-decoration: none;
        margin-left: 20px;
      }
      a:hover {
          text-decoration: underline;
      }
      a:active {
          color: blue;
      }
      a:visited {
          color: gray;
      }

      hr {
          margin-top: 10px;
          border-top: 10px;
      }
.avatar {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.45);
}
.info {
    margin-bottom: 20px;
}
h1{
    background-color: aquamarine;
    font-size: 32px;
    color:rgb(245, 138, 76);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 11px 14px ;
    letter-spacing: 3px;
    font-size: 52px;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 30px;
}
.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
/* box model */
.container {
    max-width: 1200px;
    margin: auto;
}
 .card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
} */
.card h2 {
    margin-bottom: 10px;
}
.list {
    padding: 0 20px;
}
.list li {
    margin-bottom: 10px;
    color: #86898f;
}

/* /* .like { */
    /* background-color: green; */
    /* padding: 15px; */
    /* border: 5px solid red; */
    /* margin: 20px;
    /* border-bottom-style: dotted;
    border-top-width: 15px;

} */ 

/* .box-model > div {
    background: #000;
    height: 200px;
    width: 25%;
    float: left;
    border: 4px solid red;
    box-sizing: border-box;
} */
.bg-yellow {
    background: #fff9dc;
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #fce0e0;
}

