  
     @import url('https://fonts.googleapis.com/css2?family=Roboto:@1&display=swap'); 
    body {
        

    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    font-family: 'Roboto',sans-serif;
    /*font:normal 16 px'Roboto,sans-serif;*/
    }

    a {
        color: black ;
        text-decoration: none;
        margin-top: 5px;
        padding-bottom: 30px;
        padding: right 5px; 
      }
      a:hover {
          text-decoration: underline;
      }
      a:active {
          color: blue;
      }
      a:visited {
          color: gray;
      }

      hr {
          margin-top: 10px;
          border-top: 10px;
      }
.avatar {
    width: 150px;
    height: 270px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.45);
}

.info {
    display:flex;
    margin-bottom: 20px;
}
.info-text {
    margin-left: 50px;
}
.info-text h2 {
    margin-top: 30px;
    font-size: 31px;
}
.info-text h4 {
    font-weight: 600px;
    margin-top: 25px;
    margin-bottom: 1px;
    padding-top: 2px;
    
}


h1 {
    background-color: aquamarine;
    font-size: 32px;
    color:rgb(245, 138, 76);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 11px 14px ;
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 30px;
}
.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
/* box model */
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 10px;
}
 .card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
} */
.card h2 {
    margin-bottom: 10px;
}
.list {
    padding: 0 20px;
}
.list li {
    margin-bottom: 10px;
    color: #86898f;
}
.table {
    width: 100%;

}
.table td {
    padding-bottom: 10px;

}
.table td:nth-child(2),
.table td:nth-child(3) {
    color:#86898f;
}
.link-list {
    list-style: none;
    padding: 0;
}
.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(209, 178, 190);
}
.link-list a {
    margin: 0;
}
.contact h2 {
    text-align: center;

}
.form-group label {
    display:block;
    font-size: 14px;
    color: #86898f;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
 }
 .row {
     display: flex;
     margin-bottom: 20px;
 }
 .row > .form-group {
     width: 50%;
     margin-right: 20px;
 }
.row > .form-group:last-child {
    margin-right: 0;
}
/* /* .like { */
    /* background-color: green; */
    /* padding: 15px; */
    /* border: 5px solid red; */
    /* margin: 20px;
    /* border-bottom-style: dotted;
    border-top-width: 15px;

} */ 

/* .box-model > div {
    background: #000;
    height: 200px;
    width: 25%;
    float: left;
    border: 4px solid red;
    box-sizing: border-box;
} */
.bg-yellow {
    background: #fff9dc;
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #fce0e0;
}
.bg-red p {
    font-size: x-small;
    font-style: italic;
    font-weight: 600;
}

