body {
  background-color: rgb(212, 208, 207);
  height: 100vh;
}

.gal {
  background-color: rgb(246, 201, 185);
}

.gal__row {
  display: flex;
  justify-content: space-around;
  height: 250px;
  margin: 10px;
  padding: 10px;
} 

@media screen and (max: 650px) {
  .gal__row {
      flex-direction: column;
      text-align: center;
  }
}

.gal__img {
  justify-content: space-around;
  box-sizing: border-box;
  border: 10px solid rgb(247, 183, 162);
  /* background: rgb(170, 226, 244); */
  width: 400px;
  height: 240px;
  padding: 10px ;
  overflow: hidden;
}

.gal__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
