@import url('https://fonts.googleapis.com/css2?family=Roboto:@1&display=swap');

:root {
  --main-text-color:#86898f;
  --card-colors-gren:#e5ffe7;
  --card-colors-yellow:#fff9dc;
}

body {
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    font-family: 'Roboto',sans-serif;
   /*font:normal 16 px'Roboto,sans-serif;
   */
}

